/* Complimentary green color scheme */
$baseColor: #00408C;
/* $baseColor: #00408C; */
/* $baseColor: #33FF99; */
/* $complimentary1: #84FBFF; Chri's color */
/* $complimentary1: c#86C614; */
/* $complimentary1: #86C614; */
/* $complimentary1: #BDE24F;*/
$complimentary1: white;
$complimentary2: white;
/* $complimentary2: white; */
$background1: #97B0C4;
$background2: #aaa;
/* $bodyBackground: #E8EBF0; */
$bodyBackground1: #E2E5E8;
$bodyBackground2: #E8EBF0;
$bodyBackground: $bodyBackground1;
/* $border1: #8299E2; */
/* $border1: #8278E2; */
$border1: $baseColor;
$textShadow: #ccc;
$boxShadow: #aaa;
$bannerShadow: #66859e;
$gradientFrom: #8399E2;
