/* Complimentary yellow color scheme */
$baseColor: #00408C;
/* $baseColor: #00408C; */
$complimentary1: #EAC800;
/* $complimentary1: #EAC800; */
$complimentary2: white;
/* $complimentary2: white; */
$background1: #97B0C4;
/* $background1: #97B0C4; */
$background2: #aaa;
/* $background2: #aaa; */
$bodyBackground: white;
/* $bodyBackground: white; */
$border1: #8299E2;
$textShadow: #ccc;
$boxShadow: #aaa;
$bannerShadow: #66859e;
$gradientFrom: #8399E2;
